<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Formulario para crear Producto</h1>
    <form action="/crearProducto" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre"><br>
        <label for="categoria">Categoría</label>
        <input type="number" name="categoria"><br>
        <label for="codigo">Código</label>
        <input type="number" name="codigo"><br>
        <label for="precio">Precio</label>
        <input type="number" name="precio"><br>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>