<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Formulario para crear Producto</h1>
    <form action="/producto/crearProducto" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" required><br>

        <label for="categoria">Categoría</label>
        <input type="number" name="categoria" required><br>

        <label for="codigo">Código</label>
        <input type="number" name="codigo" required><br>

        <label for="precio">Precio</label>
        <input type="number" name="precio" required><br>

        <button type="submit">Guardar</button>
    </form>
    <button><a href="/moduloStock">VOLVER A STOCK</a></button>
</body>
</html>