<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Stock</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
    <h1>Sistema de control de stock - GALVAMEN S.A.</h1>
</header>
<a href="/formularioProducto">Crear Producto nuevo</a>
<section>
    <table id="tablaPlanch">
        <thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Sobrante</th>
            <th>Fecha actualiz.</th>
            <th>Cant. modif.</th>
            <th>Autor modif.</th>
        </thead>
        <tbody th:each="planchuela: ${planchuelas}">
            <th th:text="${planchuela.codigo}"></th>
            <th th:text="${planchuela.nombre}"></th>
            <th th:text="${planchuela.stock}"></th>
            <th th:text="${planchuela.sobrante}"></th>
            <th th:text="${planchuela.ultModif}"></th>
            <th th:text="${planchuela.cantIngresada}"></th>
            <th th:text="${planchuela.autorUltimo}"></th>
            <th><button>Agregar</button></th>
            <th><button>Consumir</button></th>
        </tbody>
        <tbody th:each="angulo: ${angulos}">
        <th th:text="${angulo.codigo}"></th>
        <th th:text="${angulo.nombre}"></th>
        <th th:text="${angulo.stock}"></th>
        <th th:text="${angulo.sobrante}"></th>
        <th th:text="${angulo.ultModif}"></th>
        <th th:text="${angulo.cantIngresada}"></th>
        <th th:text="${angulo.autorUltimo}"></th>
        <th><button>Agregar</button></th>
        <th><button>Consumir</button></th>
        </tbody>
        <tbody th:each="redondo: ${redondos}">
        <th th:text="${redondo.codigo}"></th>
        <th th:text="${redondo.nombre}"></th>
        <th th:text="${redondo.stock}"></th>
        <th th:text="${redondo.sobrante}"></th>
        <th th:text="${redondo.ultModif}"></th>
        <th th:text="${redondo.cantIngresada}"></th>
        <th th:text="${redondo.autorUltimo}"></th>
        <th><button>Agregar</button></th>
        <th><button>Consumir</button></th>
        </tbody>
        <tbody th:each="upn: ${upns}">
        <th th:text="${upn.codigo}"></th>
        <th th:text="${upn.nombre}"></th>
        <th th:text="${upn.stock}"></th>
        <th th:text="${upn.sobrante}"></th>
        <th th:text="${upn.ultModif}"></th>
        <th th:text="${upn.cantIngresada}"></th>
        <th th:text="${upn.autorUltimo}"></th>
        <th><button>Agregar</button></th>
        <th><button>Consumir</button></th>
        </tbody>
        <tbody th:each="canio: ${canios}">
        <th th:text="${canio.codigo}"></th>
        <th th:text="${canio.nombre}"></th>
        <th th:text="${canio.stock}"></th>
        <th th:text="${canio.sobrante}"></th>
        <th th:text="${canio.ultModif}"></th>
        <th th:text="${canio.cantIngresada}"></th>
        <th th:text="${canio.autorUltimo}"></th>
        <th><button>Agregar</button></th>
        <th><button>Consumir</button></th>
        </tbody>
        <tbody th:each="perfilT: ${perfilTs}">
        <th th:text="${perfilT.codigo}"></th>
        <th th:text="${perfilT.nombre}"></th>
        <th th:text="${perfilT.stock}"></th>
        <th th:text="${perfilT.sobrante}"></th>
        <th th:text="${perfilT.ultModif}"></th>
        <th th:text="${perfilT.cantIngresada}"></th>
        <th th:text="${perfilT.autorUltimo}"></th>
        <th><button>Agregar</button></th>
        <th><button>Consumir</button></th>
        </tbody>

    </table>
</section>
</body>
</html>