<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrica</title>
</head>
<body>
    <h1>FABRICA</h1>
    <a href="/moduloStock">Modulo Stock</a><br>
    <a href="/moduloMantenimiento">Modulo mantenimiento</a>

    <h3 th:if="${error!= null}" th:text="${error}" style="color:rgb(171, 52, 5);"></h3>
    <h3 class="mensaje" th:if="${mensaje!= null}" th:text="${mensaje}" style="color: green;"></h3>
</body>
</html>