<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de nuevo usuario</title>
</head>
<body>
    <h1>Registro de nuevo usuario</h1>
    <div id="registroUsuario">
        <form action="/usuario/registrarUsuario" method="post">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"><br><br>

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido"><br><br>

            <label for="email">Email</label>
            <input type="text" name="email"><br><br>

            <label for="clave">Clave</label>
            <input type="password" name="clave"><br><br>

            <label for="repetirClave">Repetir clave</label>
            <input type="password" name="repetirClave"><br><br>

            <label for="rol">Rol</label>
            <select name="rol" id="">
                <option value="1">Usuario</option>
                <option value="2">Jefe</option>
                <option value="3">Admin</option>
            </select><br><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
        
    <button><a href="/moduloStock">VOLVER A STOCK</a></button>
</body>
</html>